@font-face {
  font-family: "JosefinSans-Light";
  src: url("../fonts/JosefinSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "JosefinSans-Regular";
  src: url("../fonts/JosefinSans-Regular.ttf") format("truetype");
}
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "JosefinSans-Regular";
}

a {
  color: black;
}
a:hover {
  color: #FE6F61;
}

.hero {
  background-image: url(../images/hero-banner.png);
  padding: 5rem 0rem;
  width: 100%;
  background-position: relative;
  background-size: cover;
  font-family: "JosefinSans-Light";
}
.hero .hero-section-title {
  font-size: 3rem;
  font-weight: 100;
  padding: 1rem 0rem;
}
.hero .hero-section-paragraph {
  padding: 1rem 0rem;
  width: 50%;
  line-height: 1.7rem;
}
.hero .container {
  margin: 0px 6rem;
  width: 80%;
  min-height: 400px;
}
.hero input {
  padding: 1rem 1.5rem;
  background-color: #FE6F61;
  color: white;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
}

.Explore .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}
.Explore .card input {
  padding: 0.9rem 2rem;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  font-size: 1.3rem;
  border: 1px solid black;
  cursor: pointer;
}
.Explore .card .card-1 {
  background-image: url(../images/collection-1.jpg);
  background-position: center;
  background-size: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  padding: 2rem 3rem;
  text-transform: uppercase;
  margin: 1rem 2rem;
}
.Explore .card .card-2 {
  background-image: url(../images/collection-2.jpg);
  background-position: center;
  background-size: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  padding: 2rem 3rem;
  text-transform: uppercase;
  margin: 1rem 2rem;
}
.Explore .card .card-3 {
  background-image: url(../images/collection-3.jpg);
  background-position: center;
  background-size: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  padding: 2rem 3rem;
  text-transform: uppercase;
  margin: 1rem 2rem;
}

.Product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0rem;
}
.Product h1 {
  font-size: 2.5rem;
}
.Product input {
  padding: 0.9rem 2rem;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 2rem;
  cursor: pointer;
  margin: 1.4rem 0rem;
}
.Product .card {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  line-height: 2rem;
  text-align: center;
}
.Product .card a {
  font-size: 1.4rem;
  font-weight: bold;
}
.Product .card h4 {
  color: #FE6F61;
}

.Sale .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 4rem;
}
.Sale .card h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}
.Sale .card input {
  padding: 0.9rem 2rem;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 1.4rem 0rem;
  border: none;
  border-bottom: solid 2px white;
}
.Sale .card .card-1 {
  background-image: url(../images/cta-1.jpg);
  background-size: cover;
  color: white;
  text-align: left;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 50px;
  margin: 20px 20px;
}
.Sale .card .card-2 {
  background-image: url(../images/cta-2.jpg);
  background-size: cover;
  color: white;
  text-align: left;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 50px;
  margin: 20px 20px;
}

.flex-display {
  display: flex;
  flex-wrap: wrap;
}

.card-icon {
  background-color: #FE6F61;
  padding: 0.8rem;
  border-radius: 3rem;
  align-items: center;
}
.card-icon img {
  filter: brightness(0) invert(1);
  width: 100%;
  height: auto;
}

.Service .card {
  justify-content: center;
  line-height: 1.5rem;
}
.Service .card .title {
  margin: 1rem;
}
.Service .card .card-1 {
  margin: 4rem 2rem;
}
.Service .card .card-2 {
  margin: 4rem 2rem;
}
.Service .card .card-3 {
  margin: 4rem 2rem;
}
.Service .card .card-4 {
  margin: 4rem 2rem;
}/*# sourceMappingURL=main.css.map */