@import "_button";
@import "_Color-Scheme";
@import "_layout";
@import"_card-design";

// Imoprt Font
@font-face {
	font-family: 'JosefinSans-Light';
	src: url('../fonts/JosefinSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'JosefinSans-Regular';
	src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
}

*{
padding: 0px;
margin: 0px;
text-decoration: none;
box-sizing: border-box;
font-family: 'JosefinSans-Regular';
}


// # Header

// # Hero Section
.hero{
    background-image: url(../images/hero-banner.png);
    padding: 5rem 0rem;
    width: 100%;
    background-position: relative;
    background-size: cover;
    font-family:'JosefinSans-Light';
    
.hero-section-title{
    font-size: 3rem;
    font-weight: 100;
    padding: 1rem 0rem;

}
.hero-section-paragraph{
    padding: 1rem 0rem;
    width: 50%;
    line-height: 1.7rem;
}
 .container{
        margin: 0px 6rem;
         width: 80%;
    min-height: 400px;
}

input{
    @include button_1($primary-color,$font-color);
}
    }

// # Explore Section

.Explore{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;

.card-1{
    @include Explore-Card(url(../images/collection-1.jpg));
    input{
        @include button_2(rgba(255, 255, 255, 0),$font-primary-color);

    }
}
.card-2{
    @include Explore-Card(url(../images/collection-2.jpg));
    input{
        @include button_2(rgba(255, 255, 255, 0),$font-primary-color);
    }
}

.card-3{
    @include Explore-Card(url(../images/collection-3.jpg));  
    input{
        @include button_2(rgba(255, 255, 255, 0),$font-primary-color);
    }
}

}

// # Products Sectoin

.Product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 6rem  0rem;
    input{
        @include button_3(rgba(255, 255, 255, 0),$font-primary-color);

    }
    .card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem;
        line-height: 2rem;
        a{
            color: $primary-color;
            font-size: 1.4rem;
            font-weight: bold;
        }
margin: 2rem;

    }
    
}



// # Footer
