@import "_button";
@import "_Color-Scheme";
@import "_layout";
@import"_card-design";

// Imoprt Font
@font-face {
	font-family: 'JosefinSans-Light';
	src: url('../fonts/JosefinSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'JosefinSans-Regular';
	src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
}

*{
padding: 0px;
margin: 0px;
text-decoration: none;
box-sizing: border-box;
font-family: 'JosefinSans-Regular';
}
a{
    color: $font-primary-color;
    &:hover{
        color: $primary-color;
    }
}


// # Header

// # Hero Section
.hero{
    background-image: url(../images/hero-banner.png);
    padding: 5rem 0rem;
    width: 100%;
    background-position: relative;
    background-size: cover;
    font-family:'JosefinSans-Light';
    
.hero-section-title{
    font-size: 3rem;
    font-weight: 100;
    padding: 1rem 0rem;

}
.hero-section-paragraph{
    padding: 1rem 0rem;
    width: 50%;
    line-height: 1.7rem;
}
 .container{
        margin: 0px 6rem;
         width: 80%;
    min-height: 400px;
}

input{
    @include button_1($primary-color,$font-color);
}
    }

// # Explore Section

.Explore{
    .card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem;
        input{
            @include button_2(rgba(255, 255, 255, 0),$font-primary-color);
        }

.card-1{
    @include Explore-Card(url(../images/collection-1.jpg));

}
.card-2{
    @include Explore-Card(url(../images/collection-2.jpg));
}
.card-3{
    @include Explore-Card(url(../images/collection-3.jpg));  
}
    }
}

// # Products Sectoin

.Product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 6rem  0rem;
    h1{
        font-size: 2.5rem;
    }
    input{
        @include button_3(rgba(255, 255, 255, 0),$font-primary-color);

    }
    .card{
        margin: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem;
        line-height: 2rem;
        text-align: center;
        a{       
            font-size: 1.4rem;
            font-weight: bold;
        }
      
        h4{
            color: $primary-color;
           }
       } 

}

//  # Sale Section
.Sale{
    .card{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        line-height: 4rem;
        

        h1{
            font-size: 2rem;
            line-height: 2.5rem;
            
        }
        input{
            @include button_4(rgba(255, 255, 255, 0),$bg-color);
        }

        .card-1{
             @include Sale-card  ( url(../images/cta-1.jpg)); 
        }
        .card-2{
            @include Sale-card  ( url(../images/cta-2.jpg));
        }
    }
}


// #Reuseable Code

.flex-display{
    display: flex;
    flex-wrap: wrap;
}
//  # Service Section
.card-icon{
    background-color: $primary-color;
    padding: .8rem;
    border-radius: 3rem;
    align-items: center;
    img{
        filter: brightness(0) invert(1);
        width: 100%;
        height: auto;
    }
}
.Service{
    .card{
        justify-content: center;
        line-height: 1.5rem;
    
        .title{
            margin: 1rem;
        }
        .card-1{
            margin: 4rem 2rem;
            
        }
        .card-2{
            margin: 4rem 2rem;
        }
        .card-3{
            margin: 4rem 2rem;
        }
        .card-4{
            margin:4rem  2rem;
        }
    }
}


// # Footer
